.story-content {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(11, 11, 11);
  width: 436px;
  height: 770px;
}
.story-close-modal,
.story-share-modal,
.story-heart-modal,
.story-save-modal {
  position: absolute;
  padding: 5px 7px;
  cursor: pointer;
}
.story-close-modal {
  top: 20px;
  left: 40px;
}
.story-share-modal {
  top: 20px;
  right: 40px;
}
.story-save-modal {
  bottom: 20px;
  left: 50px;
}
.story-heart-modal {
  bottom: 20px;
  right: 50px;
}
.copy-notification {
  margin-top: 130%;
  margin-right: 40px;
}
.custom {
  color: wheat;
}
