.storySection {
  margin-top: 100px;
}
.storySectionHeading {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}
.allStorycontainer {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}
.storyBox {
  /* background-color: linear-gradient(black, white 40%, black); */
  background-image: linear-gradient(
      rgba(8, 12, 16, 0.8),
      rgba(254, 254, 254, 0.8),
      rgba(254, 254, 254, 0.8),
      rgba(5, 5, 5, 0.8)
    ),
    url(https://st2.depositphotos.com/4687049/6975/i/450/depositphotos_69752291-stock-photo-delicious-creamy-ice-cream.jpg);
  background-size: cover;
  background-position: center;
  background-blend-mode: multiply;
  position: relative;
  /* color: linear-gradient(black, white 40%, black); */
}
.storyBox {
  width: 300px;
  height: 500px;
  border: 1px solid #090808;
  overflow: hidden;
  border-radius: 20px;
}
.storyHeading,
.storyDescription {
  position: absolute;
  transform: translate(-50%, -50%);
  cursor: pointer;
  color: white;
  text-shadow:
    -1px 1px 0 #000,
    1px 1px 0 #000,
    1px -1px 0 #000,
    -1px -1px 0 #000;
}
.storyHeading {
  top: 80%;
  left: 33%;
  margin: auto;
  font-size: 25px;
}
.storyDescription {
  top: 87%;
  left: 28%;
  font-size: 16px;
  margin-bottom: 10px;
}
